In [1]:
import pandas as pd

In [26]:
data = pd.read_csv("data/number-of-deaths-by-risk-factor.csv")

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6468 entries, 0 to 6467
Data columns (total 30 columns):
Entity                                        6468 non-null object
Code                                          5488 non-null object
Year                                          6468 non-null int64
Unsafe water source (deaths)                  6468 non-null float64
Poor sanitation (deaths)                      6468 non-null float64
No access to handwashing facility (deaths)    6468 non-null float64
Indoor air pollution (deaths)                 6468 non-null float64
Non-exclusive breastfeeding (deaths)          6468 non-null float64
Discontinued breastfeeding (deaths)           6468 non-null float64
Child wasting (deaths)                        6468 non-null float64
Child stunting (deaths)                       6468 non-null float64
Low birth weight (deaths)                     6468 non-null float64
Secondhand smoke (deaths)                     6468 non-null float64
Alcohol use (deaths)                          6468 non-null float64
Drug use (deaths)                             6468 non-null float64
Diet low in fruits (deaths)                   6468 non-null float64
Diet low in vegetables (deaths)               6468 non-null float64
Unsafe sex (deaths)                           6468 non-null float64
Low physical activity (deaths)                6468 non-null float64
High blood sugar (deaths)                     6468 non-null float64
High cholesterol (deaths)                     1561 non-null float64
Obesity (deaths)                              6468 non-null float64
High blood pressure (deaths)                  6468 non-null float64
Smoking (deaths)                              6468 non-null float64
Iron deficiency (deaths)                      6468 non-null float64
Zinc deficiency (deaths)                      6468 non-null float64
Vitamin-A deficiency (deaths)                 6468 non-null float64
Low bone mineral density (deaths)             6468 non-null float64
Air pollution (outdoor & indoor) (deaths)     6468 non-null float64
Outdoor air pollution (deaths)                6467 non-null float64
dtypes: float64(27), int64(1), object(2)
memory usage: 1.5+ MB

In [28]:
data_cleaned = data.drop(['High cholesterol (deaths)'],axis=1)
data_cleaned = data_cleaned.dropna()
data_cleaned = data_cleaned.rename(columns = {data_cleaned.columns[0]: 'Country'})

In [29]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5488 entries, 0 to 6467
Data columns (total 29 columns):
Country                                       5488 non-null object
Code                                          5488 non-null object
Year                                          5488 non-null int64
Unsafe water source (deaths)                  5488 non-null float64
Poor sanitation (deaths)                      5488 non-null float64
No access to handwashing facility (deaths)    5488 non-null float64
Indoor air pollution (deaths)                 5488 non-null float64
Non-exclusive breastfeeding (deaths)          5488 non-null float64
Discontinued breastfeeding (deaths)           5488 non-null float64
Child wasting (deaths)                        5488 non-null float64
Child stunting (deaths)                       5488 non-null float64
Low birth weight (deaths)                     5488 non-null float64
Secondhand smoke (deaths)                     5488 non-null float64
Alcohol use (deaths)                          5488 non-null float64
Drug use (deaths)                             5488 non-null float64
Diet low in fruits (deaths)                   5488 non-null float64
Diet low in vegetables (deaths)               5488 non-null float64
Unsafe sex (deaths)                           5488 non-null float64
Low physical activity (deaths)                5488 non-null float64
High blood sugar (deaths)                     5488 non-null float64
Obesity (deaths)                              5488 non-null float64
High blood pressure (deaths)                  5488 non-null float64
Smoking (deaths)                              5488 non-null float64
Iron deficiency (deaths)                      5488 non-null float64
Zinc deficiency (deaths)                      5488 non-null float64
Vitamin-A deficiency (deaths)                 5488 non-null float64
Low bone mineral density (deaths)             5488 non-null float64
Air pollution (outdoor & indoor) (deaths)     5488 non-null float64
Outdoor air pollution (deaths)                5488 non-null float64
dtypes: float64(26), int64(1), object(2)
memory usage: 1.3+ MB

In [30]:
data_cleaned.head()

,Country,Code,Year,Unsafe water source (deaths),Poor sanitation (deaths),No access to handwashing facility (deaths),Indoor air pollution (deaths),Non-exclusive breastfeeding (deaths),Discontinued breastfeeding (deaths),Child wasting (deaths),...,High blood sugar (deaths),Obesity (deaths),High blood pressure (deaths),Smoking (deaths),Iron deficiency (deaths),Zinc deficiency (deaths),Vitamin-A deficiency (deaths),Low bone mineral density (deaths),Air pollution (outdoor & indoor) (deaths),Outdoor air pollution (deaths)
0,Afghanistan,AFG,1990,7554.049543,5887.747628,5412.314513,22388.49723,3221.138842,156.097553,22778.84925,...,21610.06616,7701.581280,28183.98335,6393.667372,726.431294,501.020704,9344.131952,374.844056,26598.00673,4383.83
1,Afghanistan,AFG,1991,7359.676749,5732.770160,5287.891103,22128.75821,3150.559597,151.539851,22292.69111,...,21824.93804,7747.774903,28435.39751,6429.253320,739.245799,523.865919,9330.182378,379.854237,26379.53222,4426.36
2,Afghanistan,AFG,1992,7650.437822,5954.804987,5506.657363,22873.76879,3331.349048,156.609194,23102.19794,...,22418.69881,7991.018971,29173.61120,6561.054957,873.485341,557.567886,9769.844533,388.130434,27263.12791,4568.91
3,Afghanistan,AFG,1993,10270.731380,7986.736613,7104.620351,25599.75628,4477.006100,206.834451,27902.66996,...,23140.51117,8281.564408,30074.76091,6731.972560,1040.047422,676.375535,11433.769490,405.577931,30495.56150,5080.29
4,Afghanistan,AFG,1994,11409.177110,8863.010065,8051.515953,28013.16720,5102.622054,233.930571,32929.00593,...,23725.07008,8472.297780,30809.49117,6889.328118,1101.764645,858.483430,12936.955860,415.349195,33323.16140,5499.23

In [31]:
data_cleaned.to_csv('data/clean_number-of-deaths-by-risk-factor.csv',index = None)